<section class="{{section_classes}}">
  <div class="{{container_classes}}">
    <h1>{{title}}</h1>
    <p class="lead">{{subtitle}}</p>
    <a class="{{btn_classes}}" href="{{btn_url}}">{{btn_label}}</a>
  </div>
</section>
